* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Geneva", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", sans-serif;
}
h2 {
  margin-bottom: 0;
}
h3 {
  margin-top: 2%;
}
div#container {
  /* display: inline-grid; */
  /* grid-template-columns: 1fr 1fr; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 0 1rem;
  margin-top: 2%;
  /* width: 100%; */
  /* 890px */
}
article#quiz,
section#picture {
  margin: 0 2rem;
}
section#picture {
  width: 330px;
  height: 430px;
  border: 15px solid rgb(192, 192, 192);
}
form{
  background-color: rgb(208, 229, 237);
  border-radius: 5px;
  padding: 3% 2%;
  margin-top: 4%;
  -webkit-filter: drop-shadow(10px 10px 5px rgb(6, 90, 113));
    -moz-filter: drop-shadow(10px 10px 5px rgb(6, 90, 113));
    -ms-filter: drop-shadow(10px 10px 5px rgb(6, 90, 113));
    -o-filter: drop-shadow(10px 10px 5px rgb(6, 90, 113));
    filter: drop-shadow(10px 10px 5px rgb(6, 90, 113));
}
img#side_back {
  width: 300px;
  height: 400px;
  position: absolute;
  z-index: 98;
  display: inline-block;
  /* border: 15px solid rgb(192, 192, 192); */
  background-image: url("../img/photo-default.JPG");
}
div#side_front {
  width: 300px;
  height: 400px;
  position: absolute;
  z-index: 99;
  display: inline-block;
  /* border: 15px solid rgb(192, 192, 192); */
}
#forehead0,
#forehead1,
#forehead2,
#forehead3,
#forehead4,
#forehead5,
#forehead6 {
  position: absolute;
  display: inline-block;
  width: 65px;
  height: 450px;
}
#forehead0 {
  left: -30px;
  top: -40px;
  clip-path: inset(40px 0px 10px 30px);
}
#forehead1 {
  left: 20px;
  top: -13px;
  clip-path: inset(13px 0px 37px 0px);
}
#forehead2 {
  left: 70px;
  top: -40px;
  clip-path: inset(40px 0px 10px 0px);
}
#forehead3 {
  left: 120px;
  top: -13px;
  clip-path: inset(13px 0px 37px 0px);
}
#forehead4 {
  left: 170px;
  top: -40px;
  clip-path: inset(40px 0px 10px 0px);
}
#forehead5 {
  left: 220px;
  top: -13px;
  clip-path: inset(13px 0px 37px 0px);
}
#forehead6 {
  left: 270px;
  top: -40px;
  clip-path: inset(40px 0px 10px 0px);
  width: 30px;
}
button.ghost {
  background-image: url("../img/tile.png");
  background-color: transparent;
  border-width: 1px;
  margin: 2px;
  width: 62px;
  height: 52px;
}
button.ghost:hover {
  -webkit-filter: drop-shadow(0px 0px 5px yellow) invert(90%);
  -moz-filter: drop-shadow(0px 0px 5px yellow) invert(90%);
  -ms-filter: drop-shadow(0px 0px 5px yellow) invert(90%);
  -o-filter: drop-shadow(0px 0px 5px yellow) invert(90%);
  filter: drop-shadow(0px 0px 5px yellow) invert(90%);
}
button#submit-btn,
button#next-btn,button#uncover-btn {
  border: none;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
button#submit-btn {
  background-color: rgb(81, 178, 181);
}
button#next-btn {
  display: none;
  background-color: rgb(153, 176, 255);
}
button#uncover-btn {
  background-color: rgb(199, 199, 199);
}
span#log {
  line-height: 1.4rem;
}
p#info {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2%;
  
}
div#sec{
  margin: 4% 2%;
}